

<% discussion = Discussion.find_by(id: params["id"]) %>

<% if discussion.errors.any? %>
<ul>
  <% discussion.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<h1>Editing <%= discussion.title %></h1>

<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/discussions/#{discussion.id}", method: "patch" do %>

      <p>Title: <input value="<%= discussion.title %>" name="title" type="text" autofocus class="form-control"></p>
      <p>Content: <input value="<%= discussion.content %>"  name="year" type="text" class="form-control"></p>

      <p>Topic:
          <select name="topic_id" class="form-control">
            <% Topic.order('name').each do |tp| %>
              <option value="<%= tp.id %>" <%= 'selected' if discussion.topic_id == tp.id %> >
                <%= tp.name %>
              </option>
            <% end %>
          </select>
      </p>

      <button class="btn btn-primary">Update Discussion</button>

    <% end %>

  </div>
</div>
