<% discussion = Discussion.find_by(id: params["id"]) %>
<hr>
<div>
    <h2><%= discussion.title %> </h2>
    <% if discussion.topic.present? %>
      <p class="lead">Topic: <%= link_to discussion.topic.name, "/topics/#{discussion.topic.id}" %></p>
    <% end %>
</div>
<br>
<div>
    <strong><%= discussion.content %></strong>
</div>
<hr>
<!-- <button><%=link_to "[edit]", "/discussions/#{discussion.id}/edit" %></button>
<button><%= link_to "[Delete]", "/discussions/#{discussion.id}", method: "delete" %></button> -->
<button><%=link_to "view all discussions", "/discussions" %></button>

<hr>
<br>
<div>
    <h4>Comments:</h4>
<br>

    <% discussion.comments.each do |comment| %>
     <div>
        <br>
        <strong><%= comment.message %></strong>
        <br>
        Commented by:   <%= thisUser= User.find_by(id:comment.user_id).username %>
        <br>
        Created At:   <%= comment.created_at %>
        <br>
     </div>
    <% end %>
</div>

<hr>
<div>
  <button class="btn btn-outline-primary"><%= link_to "Add comments", "/comments/new" %></button>
</div>
